<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="GateKeeper.GateKeeper">
        <endpoint address="" behaviorConfiguration="GateKeeper.GateKeeperAspNetAjaxBehavior"
          binding="webHttpBinding" contract="GateKeeper.IGateKeeper" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="GateKeeper.GateKeeperAspNetAjaxBehavior">

          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />

        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
